[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
httpx = "*"
aiohttp = "*"
anyio = "*"
trio = "*"
python-dotenv = "*"
pydantic = "*"
orjson = "*"
ujson = "*"
pyyaml = "*"
python-dateutil = "*"
tenacity = "*"
tqdm = "*"
rich = "*"
loguru = "*"
django = "*"
djangorestframework = "*"
fastapi = "*"
starlette = "*"
uvicorn = "*"
gunicorn = "*"
psycopg2-binary = "*"
asyncpg = "*"
mysqlclient = "*"
pymongo = "*"
redis = "*"
aioredis = "*"
sqlalchemy = "*"
alembic = "*"
celery = "*"
rq = "*"
dramatiq = "*"
huey = "*"
passlib = "*"
pyjwt = "*"
cryptography = "*"
bcrypt = "*"
beautifulsoup4 = "*"
lxml = "*"
selenium = "*"
playwright = "*"
scrapy = "*"
pandas = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
polars = "*"
pyarrow = "*"
openpyxl = "*"
pillow = "*"
reportlab = "*"
pypdf = "*"
"pdfminer.six" = "*"
websockets = "*"
python-socketio = "*"
channels = "*"
boto3 = "*"
docker = "*"
kubernetes = "*"
fabric = "*"
ansible = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
pre-commit = "*"
virtualenv = "*"
pipenv = "*"
poetry = "*"
pipx = "*"
typer = "*"
click = "*"
jinja2 = "*"
markupsafe = "*"
itsdangerous = "*"
werkzeug = "*"
email-validator = "*"
python-multipart = "*"
watchfiles = "*"
httptools = "*"
transformers = "*"
sentence-transformers = "*"
tokenizers = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.14"
